/* #abj{
  width:960px;
  margin: 0 auto;
} */
header{
  background: black;
  width: 100%;

  height: 60px;
}
.middle{
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.kkk{
  float: right;
  margin-top: 10px;
}
a {
	margin-right: 10px;
	color: #fff;
}

.image{
  color: white;
display: inline-block;
  font-size: 2em;
}

.list{
  width: 100%;
  background: green;
  height:300px;

position: relative;
}

/* .wait{
  position: absolute;
  right: 100px;
  top: 110px;
}
.order{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  font-size: 10px;
  text-align: center;
  background: white;
}
.active{

  height: 25px;
} */
.list3{
  width: 960px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  background: green;
}
ul{
  /* display: flex; */
  position: absolute;
  right: 20px;
  bottom: 10px;
  padding-left: 0;
  margin-top: 0;
}
li{
display:inline-block;
list-style-type: none;
	vertical-align: bottom;
  border: 1px solid red;
  line-height: 35px;
  width: 28px;
  height: 33px;
  text-align: center;

}
.active{
  padding-top: 15px;

}
.control{
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ddd;
}
.control3{
  width: 960px;

  margin: 0 auto;
  position: relative;

}
button{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  weight:100px;
  height: 50px;
  background-color: #eee;
  margin: 20px 0px 0px 0px;
  border-bottom: none;
}




.main-content{
  width: 960px;
  margin:10px auto;
}
.content{display: -webkit-flex;
  display: flex;
 text-align: center;
}
.content-item{

display: -webkit-inline-flex;
  display: inline-flex;
  flex: 1;
  justify-content: center;
    align-items: center;
  margin: 5px;
  padding: 80px;
  height: 176px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-size: .8em;


}




footer {
	width: 100%;
	text-align: center;
	background-color: #666;
}
p {
	margin: 0 auto;
	padding-top: 20px;
	width: 960px;
	height: 80px;
	color: #fff;
}
